@font-face {
   font-family: "Freight Sans Light";
   src: url(../Font/Freight\ Sans\ Light.otf) format("opentype");
}
@font-face {
   font-family: "Freight Sans Book";
   src: url(../Font/Freight\ Sans\ Book.otf) format("opentype");
}
@font-face {
   font-family: "Freight Sans Medium";
   src: url(../Font/Freight\ Sans\ Medium.otf) format("opentype");
}

.projects {
   display: flex;
   justify-content: space-around;
}
.projectContainer{
   height: 87%;
}
.projectTitle{
   font-size: 34px;
   font-family:"Freight Sans Medium";
   margin-bottom: 10px;
   margin-top: 20px;
}

.projectImg{
   width: 400px;
}

.projectNotes{
   font-size: 20px;
   width: 400px;
   text-align: start;
   font-family:"Freight Sans Light";
   margin-top: 10px;
   margin-bottom: 30px;
}

.projectButton{
   height: 25px;
   width: 80px;
   margin: 10px 5px;
}

.buttons{
   margin: 0 10px;
   font-family:"Freight Sans Light";
   font-size: 20px;
   width: 100px;
   height: 30px;
}